/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    color: white;
  }
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }

  button {
    padding: 12px 24px;
    font-size: 16px;
    @apply md:px-6 md:py-3 md:text-lg;
  }

  #label-range {
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 16px;
    @apply md:text-2xl;
  }

  #image-button {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 20px;
    text-align: center;
    transform: translateY(0);
    user-select: none;
    -webkit-user-select: none;
    @apply md:px-6 md:py-3 md:text-lg;
  }

  #image-button:hover {
    background-color: rgb(2 132 199);
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background-color: #ff5f5f;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background-color: #ff5f5f;
    cursor: pointer;
  }
}
