@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   body {
      background-color: rgb(28 25 23);
      color: white;
   }
   .card {
      background-color: theme("colors.white");
      border-radius: theme("borderRadius.lg");
      padding: theme("spacing.6");
      box-shadow: theme("boxShadow.xl");
   }
   button {
      padding: 15px 32px;
      font-size: 20px;
   }

   #label-range {
      font-weight: bold;
      display: block;
      float: left;
      text-align: center;
      font-size: 20px;
   }

   .border-button {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
  }

   input[type="file"] {
      background-color: rgb(180 83 9);
   }

   input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;
      vertical-align:middle;
      width: 100%;
    }

   /* CSS */
   #image-button {
      background-color: rgb(59 130 246);
      border: 1px solid rgb(59 130 246);
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      font-weight: 400;
      outline: none;
      outline: 0;
      padding: 10px 25px;
      text-align: center;
      transform: translateY(0);
      transition: transform 150ms, box-shadow 150ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
   }

   #image-button:hover {
      box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
      transform: translateY(-2px);
   }

   @media (min-width: 768px) {
      #image-button {
         padding: 10px 30px;
      }
   }

   /***** Track Styles *****/
   /***** Chrome, Safari, Opera, and Edge Chromium *****/
   input[type="range"]::-webkit-slider-runnable-track {
      background-color: rgb(180 83 9);
      height: 0.2rem;
   }
   
   /******** Firefox ********/
   input[type="range"]::-moz-range-track {
      background-color: rgb(180 83 9);
      height: 0.2rem;
   }
}
